.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

header h1 {
    border-bottom: 0.15rem solid #242424;
    font-size: 2rem;
}

#add {
    /* background: #949494; */
    margin: 1rem 0rem;
    padding: 0.5rem 4rem;
    text-decoration: none;
}